.school-card {
    border: 1px solid white;
    border-radius: 5px;
}

.card-image {
    height: 300px;
}

.card-body {
    .school-city {
        text-align: right;
        font-size: 12px;
    }
    
    .school-name {
        font-size: 18px;
    }

    .school-address {
        font-size: 10px;
    }
}