.card-wrapper {
    display: grid;
    max-width: 1200px;
    grid-template-columns: auto auto auto;
    gap: 15px;
}

@media screen and (max-width: 767px) {
    .card-wrapper {
        grid-template-columns: auto;
    }
}