.school-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
}

.school-card:hover {
    background-color: rgb(37, 37, 37);
    border-color: indianred;
}

.school-image {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.school-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    transition: all .3s ease;
}

.school-image > img:hover {
    transform: scale(1.2);
}

.card-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 15px;

    .school-city {
        font-size: 14px;
        color: indianred;
    }

    .school-address {
        color: rgb(180, 180, 180);
        font-size: 12px;
        margin-top: 15px;
        overflow: hidden;
        flex: 1;
    }
}

.card-body > .school-name {
    font-size: 18px;
    height: 3rem;
    margin-top: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5rem;
    overflow: hidden;
}