form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    align-self: center;
    border: 1px solid indianred;
    border-radius: 10px;
    padding: 30px;

    label {
        letter-spacing: 2px;
        margin-bottom: 4px;
    }

    input {
        display: block;
        box-sizing: border-box;
        width: 100%;
        border-radius: 5px;
        border: 1px solid white;
        padding: 10px 15px;
        margin-bottom: 10px;
        font-size: 14px;
        background-color:rgb(36, 36, 36);
    }

    input[type="submit"] {
        background: indianred;
        color: white;
        text-transform: uppercase;
        border: none;
        margin-top: 40px;
        padding: 20px;
        font-size: 16px;
        font-weight: 100;
        letter-spacing: 10px;
    }

    input[type="submit"]:hover {
        background: rgb(223, 57, 57);
        cursor: pointer;
    }

    input:focus {
        outline: 1px solid indianred;
        box-shadow: 1px 1px 8px 1px indianred;
    }

    .error {
        color: indianred;
        font-size: 14px;
        margin-bottom: 7px;
    }

    .success {
        color: green;
        text-align: center;
        font-size: 18px;
    }
}