main {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: center;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 14px;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 10px;
}